.about {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1d5a0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  
    h2 {
      margin-bottom: 3rem;
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 3rem;
      color: #2e2219;
    }
  
    .about-content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 2rem;
    }
  }